*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: #fcfcfc;
  position: relative;
}
p{
  font-weight: normal;
}


.router-fade-enter-active, .router-fade-leave-active {
  transition: opacity .3s;
}
.router-fade-enter, .router-fade-leave-to{
  opacity: 0;
}
